{% extends 'interfaz/index.html' %}
{% load static %}
{% load widget_tweaks %}

{% block links %}
    <link rel="stylesheet" href="{% static 'core/Select2/select2.min.css' %}">
    <link rel="stylesheet" href="{% static 'core/Select2/select2-bootstrap4.min.css' %}">
{% endblock %}

{% block contenido %}
    <div class="col-lg-12">
        <div class="card card-danger card-outline">
            <div class="card-header">
                <h3 class="card-title"><i class="fa fa-info"></i> Información y Ayuda</h3>

                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="remove"><i class="fas fa-times"></i>
                    </button>
                </div>
                <!-- /.card-tools -->
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                <h5>¿Cómo creo un nuevo Grupo Sanguíneo?</h5>
                <ol>
                    <li>Simplemente teclee el nombre del grupo sanguíneo en el campo del mismo nombre.</li>
                    <li>Luego presione el botón
                        <button disabled class="btn btn-primary"><i class="fa fa-save"></i> Guardar</button>
                        para guardar los datos.
                    </li>
                    <li>Si desea cancelar la operación presione el botón
                        <button disabled class="btn btn-danger" style="color: white">
                            <i class="fa fa-times-circle"></i> Cancelar
                        </button>
                        y sera redirigido al listado de Grupos
                        Sanguíneos, los cambios serán descartados.
                    </li>
                </ol>
                <b>Recomendamos con el fin de mantener la uniformidad de los datos en el sistema lo siguiente:</b>
                <ul>
                    <li>Cree los grupos sanguíneos usando letras mayúsculas por ejemplo: A+, A-, AB+, AB-, B+, B-, O+,
                        O-
                    </li>
                </ul>
            </div>
            <!-- /.card-body -->
        </div>
        <div class="card card-danger card-outline">
            <div class="card-header">
                <h3 class="card-title"><i class="fa fa-user"></i> {{ title }}</h3>
            </div>
            <!-- /.card-header -->
            <!-- form start -->
            <form method="post">
                {% csrf_token %}
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="form-group ">
                                <label for="exampleInputPassword1">{{ form.bloodgroup.label }}</label>
                                {{ form.bloodgroup }}
                            </div>
                        </div>
                    </div>

                </div>
                <!-- /.card-body -->
                <div class="card-footer text-center">
                    <button type="submit" class="btn btn-primary"><i class="fa fa-save"></i> Guardar</button>
                    <a class="btn btn-danger ml-5" style="color: white" href="{% url 'bloodgroup:ListBloodGroup' %}"><i
                            class="fa fa-times-circle"></i> Cancelar</a>
                </div>
            </form>
        </div>
    </div>

{% endblock %}

{% block scripts %}
    <script src="{% static 'core/ajaxAdd.js' %}"></script>
    <script src="{% static 'errorMessage.js' %}"></script>
    <script src="{% static  'core/Select2/select2.min.js' %}"></script>
    <script src="{% static  'core/Select2/i18n/es.js' %}"></script>
    <script>
        $(document).ready(function () {
            $('.select2').select2({
                theme: 'bootstrap4',
                language: 'es'
            })

            $('form').submit(function (e) {
                e.preventDefault();
                let parameters = $(this).serializeArray();
                let urlList = '{% url 'bloodgroup:ListBloodGroup' %}'
                SendajaxL('¡Está seguro/a!', 'Los datos del Grupo Sanguíneo serán guardados', window.location.pathname, parameters, urlList)
            })
        })
    </script>
{% endblock %}