{% extends 'interfaz/index.html' %}

{% block contenido %}
    <div class="col-lg-12">
        <div class="card card-primary">
            <div class="card-header">
                <h3 class="card-title">{{ title }}</h3>
            </div>
            <!-- /.card-header -->
            <!-- form start -->
            <form method="post">
                <div class="card-body">
                {% csrf_token %}
                    {% block fields %}

                    {% endblock %}
                </div>
                <!-- /.card-body -->
                <div class="card-footer">
                    {% block buttons %}
                    
                    {% endblock %}
                </div>
            </form>
        </div>
    </div>
{% endblock %}