{% load static %}
<aside class="main-sidebar sidebar-dark-danger elevation-4">
    <!-- Brand Logo -->
    <a href="{% url 'interfaz:MenuPpal' %}" class="brand-link text-center">
        {#        <img src="{% static 'dist/img/AdminLTELogo.png' %}" alt="AdminLTE Logo"#}
        {#             class="brand-image img-circle elevation-3"#}
        {#             style="opacity: .8">#}
        <span style="font-size: 20px; color: #dc3545;">
            <i class="fas fa-tint"></i>
            Banco de Sangre
        </span>


    </a>

    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar user panel (optional) -->
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
                <img src="{% static 'login/img/user.png' %}" class="img-circle elevation-2"
                     alt="User Image">
            </div>
            <div class="info">
                <a href="{% url 'login:UdateUSerView' %}" class="d-block">
                    {% if request.user.first_name == '' or request.user.last_name == '' %}
                        No ha especificado
                        <br>
                        ningún nombre aún.
                    {% endif %}
                    {% if not request.user.first_name == '' or not request.user.last_name == '' %}
                        {{ request.user.first_name }} {{ request.user.last_name }}
                    {% endif %}
                </a>
            </div>
        </div>

        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column nav-flat" data-widget="treeview" role="menu"
                data-accordion="false">
                <!-- Add icons to the links using the .nav-icon class
                     with font-awesome or any other icon font library -->
                <li class="nav-item ">
                    <a href="{% url 'interfaz:MenuPpal' %}" class="nav-link active">
                        <i class="nav-icon fas fa-home"></i>
                        <p>
                            Página Principal
                        </p>
                    </a>
                </li>

                <li class="nav-header mt-1">Administrador</li>
                <li class="nav-item">
                    <a href="{% url 'sexo:ListSexo' %}" class="nav-link">
                        <i class="nav-icon fas fa-users"></i>
                        <p>
                            Usuarios
                            <span class="right badge badge-info"></span>
                        </p>
                    </a>
                </li>

                <li class="nav-header mt-1">Operaciones y reportes</li>
                <li class="nav-item has-treeview">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-flask "></i>
                        <p>
                            Donaciones
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>

                    <ul class="nav nav-treeview" style="display: none;">
                        <li class="nav-item">
                            <a href="{% url 'donacion:AddDonacion' %}" class="nav-link">
                                <i class="fa fa-tint nav-icon"></i>
                                <p>Registrar Donación</p>
                            </a>
                        </li>
                    </ul>
                    <ul class="nav nav-treeview" style="display: none;">
                        <li class="nav-item">
                            <a href="{% url 'donacion:ListDonacion' %}" class="nav-link">
                                <i class="fa fa-list nav-icon"></i>
                                <p>Listado de donaciones</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a href="{% url 'reportes:ReportesMenu' %}" class="nav-link">
                        <i class="nav-icon fa fa-newspaper"></i>
                        <p>
                            Reportes
                            <span class="right badge badge-info"></span>
                        </p>
                    </a>
                </li>
                <li class="nav-header mt-1">Entidades</li>
                <li class="nav-item">
                    <a href="{% url 'provincia:ListProvincia' %}" class="nav-link">
                        <i class="nav-icon fas fa-cube"></i>
                        <p>
                            Provincia
                            <span class="right badge badge-info"></span>
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'municipio:ListMunicipio' %}" class="nav-link">
                        <i class="nav-icon fas fa-cubes"></i>
                        <p>
                            Municipio
                            <span class="right badge badge-info"></span>
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'sexo:ListSexo' %}" class="nav-link">
                        <i class="nav-icon fas fa-venus-mars"></i>
                        <p>
                            Sexo
                            <span class="right badge badge-info"></span>
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'bloodgroup:ListBloodGroup' %}" class="nav-link">
                        <i class="nav-icon fas fa-tint"></i>
                        <p>
                            Grupos Sanguíneos
                            <span class="right badge badge-info"></span>
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'skincolor:ListSkinColor' %}" class="nav-link">
                        <i class="nav-icon fas fa-leaf"></i>
                        <p>
                            Color de la piel
                            <span class="right badge badge-info"></span>
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'areasalud:ListAreaSalud' %}" class="nav-link">
                        <i class="nav-icon fas fa-heart"></i>
                        <p>
                            Áreas de Salud
                            <span class="right badge badge-info"></span>
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'bloodbank:ListBloodBank' %}" class="nav-link">
                        <i class="nav-icon fas fa-university"></i>
                        <p>
                            Bancos de Sangre
                            <span class="right badge badge-info"></span>
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'consultorio:ListConsultorio' %}" class="nav-link">
                        <i class="nav-icon fas fa-building"></i>
                        <p>
                            Consultorio
                            <span class="right badge badge-info"></span>
                        </p>
                    </a>
                </li>


                <li class="nav-item">
                    <a href="{% url 'donante:ListDonante' %}" class="nav-link">
                        <i class="nav-icon fas fa-user-plus"></i>
                        <p>
                            Donante
                            <span class="right badge badge-info"></span>
                        </p>
                    </a>
                </li>


            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>