{% extends 'interfaz/card.html' %}
{% load static %}
{% load widget_tweaks %}

{% block fields %}
    <div class="form-group ">
        <label for="id_old_password">{{ form.old_password.label }}</label>
        {{ form.old_password|add_class:'form-control'|attr:'placeholder:Escriba su contraseña actual' }}
    </div>
    <div class="form-group mb-0">
        <label for="id_new_password1">{{ form.new_password1.label }}</label>
        {{ form.new_password1|add_class:'form-control'|attr:'placeholder:Escriba la contraseña nueva' }}
        <div class="form-text text-muted">
            <ul style="list-style-type: none" class="p-0">
                <li>Su contraseña no puede asemejarse tanto a su otra información personal.</li>
                <li>Su contraseña debe contener al menos 8 caracteres.</li>
                <li>Su contraseña no puede ser una clave utilizada comúnmente.</li>
                <li>Su contraseña no puede ser completamente numérica.</li>
            </ul>
        </div>
    </div>
    <div class="form-group ">
        <label for="id_new_password2">{{ form.new_password2.label }}</label>
        {{ form.new_password2|add_class:'form-control'|attr:'placeholder:Repita la nueva contraseña' }}
    </div>
{% endblock %}

{% block buttons %}
    <button type="submit" class="btn btn-primary"><i class="fa fa-key"></i> Cambiar contraseña
    </button>
    <a class="btn btn-danger" href="{% url 'interfaz:MenuPpal' %}" style="color: white">Cancelar</a>
{% endblock %}

{% block scripts %}
    <script src="{% static 'login/sendAjax.js' %}"></script>
    <script src="{% static 'errorMessage.js' %}"></script>
    <script>
        $(document).ready(function () {
            $('form').submit(function (e) {
                e.preventDefault();
                var parameters = $(this).serializeArray();
                var urlList = '{% url 'interfaz:MenuPpal' %}'
                Sendajax('¡Está seguro/a!', 'Su contraseña será cambiada', 'Su contraseña fue cambiada correctamente', window.location.pathname, parameters, urlList)
            })
        })
    </script>
{% endblock %}
