{% extends 'interfaz/card_empty.html' %}

{% block card-title %}
    <i class="fa fa-newspaper"></i> Reportes
{% endblock %}

{% block card-body %}
    <dl>
        <dt>
            <a href="{% url 'reportes:ReportesResultadoDiarioView' %}" style="color: #dc3545">
                Resumen del día por área de salud
            </a>
        </dt>
        <dd class="mb-3">Muestra información de las donaciones realizadas a lo largo del día de hoy o cualquier fecha
            seleccionada en el área de salud seleccionada.
        </dd>
        <hr>
        <dt>
            <a href="{% url 'reportes:ReportesResultadoDiarioView' %}" style="color: #dc3545">
                Resumen del día por municipio
            </a>
        </dt>
        <dd class="mb-3">Muestra información de las donaciones realizadas a lo largo del día de hoy o cualquier fecha
            seleccionada en el municipio seleccionado.
        </dd>
        <hr>
        <dt>
            <a href="{% url 'reportes:ReportesResultadoMensualView' %}" style="color: #dc3545">
                Resultado del plan mensual de donaciones
            </a>
        </dt>
        <dd class="mb-3">Muestra la información referente al cumplimiento del plan <strong>mensual</strong> de
            donaciones en el municipio seleccionado.
        </dd>
        <hr>
        <dt>
            <a href="{% url 'reportes:ReportesResultadoAnual' %}" style="color: #dc3545">
                Resultados del plan anual de donaciones
            </a>
        </dt>
        <dd class="mb-3">Muestra la información referente al cumplimiento del plan <strong>anual</strong> de donaciones
            en el municipio seleccionado.
        </dd>
        <hr>
        <dt>
            <a href="{% url 'reportes:ReportesDonacionesConsultorio' %}" style="color: #dc3545">
                Distribución de donaciones por consultorio médico en el año.
            </a>
        </dt>
        <dd class="mb-3">Muestra un gráfico con la distribucion de las donaciones por consultorios médicos en un
            minicipio seleccionado.
        </dd>
        <hr>
        <dt>
            <a href="{% url 'reportes:ReportesDonacionesConsultorio' %}" style="color: #dc3545">
                Comportamiento de las donaciones a lo largo del tiempo.
            </a>
        </dt>
        <dd class="mb-3">Muestra un gráfico de línea con la distribucion de las donaciones a lo largo del tiempo en el municipio seleccionado.
        </dd>


    </dl>
{% endblock %}
