{% extends 'interfaz/card_empty.html' %}

{% block card-title %}
    <i class="fa fa-newspaper"></i> Reportes
{% endblock %}

{% block card-body %}
    <h5 class="mb-4">Seleccione un reporte de la lista!</h5>

    <ul>
        <li class="mb-3">
            <a href="{% url 'reportes:ReportesResultadoAnual' %}">
                Resultados por año en el municipio seleccionado
            </a>
        </li>
        <li class="mb-3">
            <a href="{% url 'reportes:ReportesDonacionesConsultorio' %}">
                Distribución de donaciones por área de salud
            </a>
        </li>

    </ul>
{% endblock %}