{% extends 'interfaz/index.html' %}
{% load static %}

{% block links %}
    {#  Select 2  #}
    <link rel="stylesheet" href="{% static 'core/Select2/select2.min.css' %}">
    <link rel="stylesheet" href="{% static 'core/Select2/select2-bootstrap4.min.css' %}">
    {#  Tempus Diminus  #}
    <link rel="stylesheet" href="{% static 'core/tempusDominus 5.1.2/tempusdominus-bootstrap-4.min.css' %}">

    <link rel="stylesheet" href="{% static 'core/Select2/select2.min.css' %}">
    <link rel="stylesheet" href="{% static 'core/Select2/select2-bootstrap4.min.css' %}">


{% endblock %}

{% block contenido %}

    <div class="col-lg-6">
        <div class="card card-danger card-outline">
            <div class="card-header">
                <h5 class="m-0 text-center">Buscar Donante</h5>
            </div>

            <div class="card-body">
                <form method="post" id="search_form">
                    <div class="row">
                        <div class="col-lg-12">{{ formSearch }}</div>
                        <div class="col-lg-12">
                            <button type="submit" class="btn btn-danger col-lg-12 mt-2" id="search"><i
                                    class="fa fa-search"></i> Buscar
                            </button>
                        </div>
                    </div>
                </form>

            </div>
        </div>
        <div class="card card-danger card-outline">
            <div class="card-header">
                <h5 class="m-0 text-center">Datos de la donación</h5>
            </div>
            <div class="card-body">
                <form id="donacion_form" method="post">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="form-group ">
                                <label for="exampleInputPassword1">{{ form.bloodbank.label }}</label>
                                {{ form.bloodbank }}
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="form-group ">
                                <label for="exampleInputPassword1">{{ form.consultorio.label }}</label>
                                {{ form.consultorio }}
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="form-group ">
                                <label for="exampleInputPassword1">{{ form.fecha.label }}</label>
                                {{ form.fecha }}
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="form-group ">
                                <label for="exampleInputPassword1">{{ form.observaciones.label }}</label>
                                {{ form.observaciones }}
                            </div>
                        </div>
                    </div>


                    {#                    <div class="col-lg-12">#}
                    {#                        {{ form }}#}
                    {#                    </div>#}
                    <button type="submit" class="btn btn-danger col-lg-12 mt-2" id="save"><i class="fa fa-save"></i>
                        Registrar Donación
                    </button>
                </form>

            </div>
        </div>


    </div>
    <div class="col-md-6">
        <div class="card card-danger card-outline">
            <div class="card-header">
                <h5 class="m-0 text-center">Datos del Donante</h5>
            </div>

            <div class="card-body box-profile">
                <div class="text-center">
                    <img class="profile-user-img img-fluid img-circle" src="{% static 'donacion/masculino.png' %}"
                         alt="User profile picture">
                </div>

                <h3 id="donante_name" class="profile-username text-center">Para que aparezcan datos aquí debe realizar la búsqueda de un donante</h3>

                <ul class="list-group list-group-unbordered mb-3">
                    <li class="list-group-item">
                        <b>Carnet de identidad:</b> <a id="ci" class="float-right">...</a>
                    </li>
                    <li class="list-group-item">
                        <b>Sexo:</b> <a id="gender" class="float-right">...</a>
                    </li>
                    <li class="list-group-item">
                        <b>Edad:</b> <a id="age" class="float-right">...</a>
                    </li>
                    <li class="list-group-item">
                        <b>Grupo Sanguíneo:</b> <a id="blood_group" class="float-right">...</a>
                    </li>
                    <li class="list-group-item">
                        <b>Color de la piel:</b> <a id="skin_color" class="float-right">...</a>
                    </li>
                    <li class="list-group-item">
                        <b>Consultorio Médico:</b> <a id="consul_med" class="float-right">...</a>
                    </li>
                    <li class="list-group-item">
                        <b>Área de Salud:</b> <a id="area_salud" class="float-right">...</a>
                    </li>
                    <li class="list-group-item">
                        <b>Municipio:</b> <a id="municipio" class="float-right">...</a>
                    </li>
                    <li class="list-group-item">
                        <b>Dirección Particular:</b> <a id="addres" class="float-right text-center">...</a>
                    </li>

                </ul>
            </div>


        </div>
    </div>


{% endblock %}

{% block scripts %}
    <script src="{% static  'core/Select2/select2.min.js' %}"></script>
    <script src="{% static  'core/Select2/i18n/es.js' %}"></script>

    <script src="{% static 'core/tempusDominus 5.1.2/moment.min.js' %}"></script>
    <script src="{% static 'core/tempusDominus 5.1.2/moment-with-locales.js' %}"></script>
    <script src="{% static 'core/tempusDominus 5.1.2/tempusdominus-bootstrap-4.min.js' %}"></script>

    <script src="{% static 'donacion/add_ajax_donacion.js' %}"></script>
    <script src="{% static 'errorMessage.js' %}"></script>


    <script>
        let donanteO = {
            bloodbank: '',
            donante: '',
            consultorio: '',
            fecha: '',
            observaciones: '',
            action: ''
        }

        $(document).ready(function () {
            const nombre = document.getElementById('donante_name');
            const ci = document.getElementById('ci');
            const gender = document.getElementById('gender');
            const age = document.getElementById('age');
            const blood_group = document.getElementById('blood_group');
            const skin_color = document.getElementById('skin_color');
            const consul_med = document.getElementById('consul_med');
            const area_salud = document.getElementById('area_salud');
            const municipio = document.getElementById('municipio');
            const addres = document.getElementById('addres');
            let id;

            const bloodbank = document.getElementById('id_bloodbank');
            const consultorio = document.getElementById('id_consultorio');
            const fecha = document.getElementById('id_fecha');
            const observaciones = document.getElementById('id_observaciones');
            const btn_save = document.getElementById('save');
            clear_detail()
            disableForm()

            function disableForm() {
                btn_save.setAttribute('disabled', 'true')
            }
            function enableForm(){
                btn_save.removeAttribute('disabled')
            }

            $('#search_form').submit(function (e) {
                e.preventDefault();
                const ci = $('#id_ci').val()
                $.ajax({
                    url: window.location.pathname,
                    type: 'POST',
                    data: {
                        action: 'search',
                        ci
                    },
                    dataType: 'json',
                }).done(function (data) {
                    if (data.hasOwnProperty('error')) {

                        if (data.error === 'Donante matching query does not exist.') {
                            clear_detail()
                            disableForm()
                            errorMessage('No existe un donante con ese carnet de identidad');
                        }
                        console.log(data.error)
                    }
                    detail_donante(data);
                    enableForm()
                }).fail(function (jqXHR, textStatus, errorThrown) {
                    alert("Error")
                });
            });

            function detail_donante(data) {
                data.forEach(element => {
                    id = element.id
                    nombre.innerText = `${element.nombre}  ${element.apellidos}`;
                    ci.innerText = element.ci
                    gender.innerText = element.sexo
                    age.innerText = element.edad
                    blood_group.innerText = element.bloodgroup
                    skin_color.innerText = element.skincolor
                    consul_med.innerText = element.consultorio
                    area_salud.innerText = element.areasalud
                    municipio.innerText = element.municipio
                    addres.innerText = element.direccion
                })
                console.log(data)
            }

            function clear_detail() {
                nombre.innerText = 'Para que aparezcan datos aquí debe realizar la búsqueda de un donante';
                ci.innerText = '...'
                gender.innerText = '...'
                age.innerText = '...'
                blood_group.innerText = '...'
                skin_color.innerText = '...'
                consul_med.innerText = '...'
                area_salud.innerText = '...'
                municipio.innerText = '...'
                addres.innerText = '...'
            }



            $('#id_fecha').datetimepicker({
                format: 'YYYY-MM-DD',
                date: moment().format('YYYY-MM-DD'),
                locale: 'es',
                minDate: moment().format('YYYY-MM-DD')
            })

            $('.select2').select2({
                theme: 'bootstrap4',
                language: 'es'
            })

            $('#donacion_form').submit(function (e) {
                e.preventDefault();


                donanteO.bloodbank = bloodbank.value
                donanteO.donante = id
                donanteO.consultorio = consultorio.value
                donanteO.fecha = fecha.value
                donanteO.observaciones = observaciones.value
                donanteO.action = 'add'
                let parameters = donanteO;


                console.log(donanteO)
                let urlList = '{% url 'donacion:ListDonacion' %}'
                SendajaxD('¡Está seguro/a!', 'Los datos de la Donación serán guardados', window.location.pathname, parameters, urlList)
            })
        })

    </script>
{% endblock %}