{% extends 'interfaz/index.html' %}
{% load static %}

{% block links %}
    {#  Select 2  #}
    <link rel="stylesheet" href="{% static 'core/Select2/select2.min.css' %}">
    <link rel="stylesheet" href="{% static 'core/Select2/select2-bootstrap4.min.css' %}">
    {#  Tempus Diminus  #}
    <link rel="stylesheet" href="{% static 'core/tempusDominus 5.1.2/tempusdominus-bootstrap-4.min.css' %}">

{% endblock %}

{% block contenido %}

    <div class="col-lg-6">
        <div class="card card-danger card-outline">
            <div class="card-header">
                <h5 class="m-0 text-center">Datos de la donación</h5>
            </div>
            <div class="card-body">
                <form id="donacion_form" method="post">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="form-group ">
                                {{ form.donante }}
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="form-group ">
                                <label for="exampleInputPassword1">{{ form.bloodbank.label }}</label>
                                {{ form.bloodbank }}
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="form-group ">
                                <label for="exampleInputPassword1">{{ form.consultorio.label }}</label>
                                {{ form.consultorio }}
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="form-group ">
                                <label for="exampleInputPassword1">{{ form.fecha.label }}</label>
                                {{ form.fecha }}
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="form-group ">
                                <label for="exampleInputPassword1">{{ form.observaciones.label }}</label>
                                {{ form.observaciones }}
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-danger col-lg-12 mt-2" id="save"><i class="fa fa-save"></i>
                        Registrar Donación
                    </button>
                </form>

            </div>
        </div>


    </div>
    <div class="col-md-6">
        <div class="card card-danger card-outline">
            <div class="card-header">
                <h5 class="m-0 text-center">Datos del Donante</h5>
            </div>

            <div class="card-body box-profile">
                <div class="text-center">
                    <img class="profile-user-img img-fluid img-circle" src="{% static 'donacion/masculino.png' %}"
                         alt="User profile picture">
                </div>

                <h3 id="donante_name" class="profile-username text-center">{{ data.nombre }} {{ data.apellidos }}</h3>

                <ul class="list-group list-group-unbordered mb-3">
                    <li class="list-group-item">
                        <b>Carnet de identidad:</b> <a id="ci" class="float-right">{{ data.ci }}</a>
                    </li>
                    <li class="list-group-item">
                        <b>Sexo:</b> <a id="gender" class="float-right">{{ data.sexo }}</a>
                    </li>
                    <li class="list-group-item">
                        <b>Edad:</b> <a id="age" class="float-right">{{ data.edad }}</a>
                    </li>
                    <li class="list-group-item">
                        <b>Grupo Sanguíneo:</b> <a id="blood_group" class="float-right">{{ data.bloodgroup }}</a>
                    </li>
                    <li class="list-group-item">
                        <b>Color de la piel:</b> <a id="skin_color" class="float-right">{{ data.skincolor }}</a>
                    </li>
                    <li class="list-group-item">
                        <b>Consultorio Médico:</b> <a id="consul_med" class="float-right">{{ data.consultorio }}</a>
                    </li>
                    <li class="list-group-item">
                        <b>Área de Salud:</b> <a id="area_salud" class="float-right">{{ data.areasalud }}</a>
                    </li>
                    <li class="list-group-item">
                        <b>Municipio:</b> <a id="municipio" class="float-right">{{ data.municipio }}</a>
                    </li>
                    <li class="list-group-item">
                        <b>Dirección Particular:</b> <a id="addres"
                                                        class="float-right text-center">{{ data.direccion }}</a>
                    </li>

                </ul>
            </div>


        </div>
    </div>


{% endblock %}

{% block scripts %}

    <script src="{% static 'core/tempusDominus 5.1.2/moment.min.js' %}"></script>
    <script src="{% static 'core/tempusDominus 5.1.2/moment-with-locales.js' %}"></script>
    <script src="{% static 'core/tempusDominus 5.1.2/tempusdominus-bootstrap-4.min.js' %}"></script>

    <script src="{% static  'core/Select2/select2.min.js' %}"></script>
    <script src="{% static  'core/Select2/i18n/es.js' %}"></script>



    <script src="{% static 'donacion/add_ajax_donacion.js' %}"></script>
    <script src="{% static 'errorMessage.js' %}"></script>
<script src="{% static 'core/daterangePicker v3.14.1/daterangepicker.min.js' %}"></script>

    <script>

        $(document).ready(function () {
            const nombre = document.getElementById('donante_name');
            const ci = document.getElementById('ci');
            const gender = document.getElementById('gender');
            const age = document.getElementById('age');
            const blood_group = document.getElementById('blood_group');
            const skin_color = document.getElementById('skin_color');
            const consul_med = document.getElementById('consul_med');
            const area_salud = document.getElementById('area_salud');
            const municipio = document.getElementById('municipio');
            const addres = document.getElementById('addres');
            let id;

            const fecha = document.getElementById('id_fecha');
            console.log(fecha.value)


            $('.select2').select2({
                theme: 'bootstrap4',
                language: 'es'
            })

            $('#id_fecha').daterangepicker({
                locale: {
                    format: 'YYYY-MM-DD'
                },
                singleDatePicker: true,
                showDropdowns: false,
                minYear: 2000,
                maxYear: parseInt(moment().format('YYYY'), 10)
            });

            $('#donacion_form').submit(function (e) {
                e.preventDefault();
                let parameters = $(this).serializeArray();
                console.log(parameters)
                let urlList = '{% url 'donacion:ListDonacion' %}'
                SendajaxD('¡Está seguro/a!', 'Los datos de la Donación serán guardados', window.location.pathname, parameters, urlList)
            })
        })

    </script>
{% endblock %}