{% extends 'interfaz/index.html' %}

{% block contenido %}
    <div class="col-lg-12">
        <div class="card card-default">
            <div class="card-header">
                <h3 class="card-title">
                    <i class="fas fa-exclamation-triangle"></i>
                    {{ title }}
                </h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                <form method="post">
                    {% csrf_token %}
                    <div class="alert alert-warning alert-dismissible text-center">
                        <h5><i class="icon fas fa-exclamation-triangle"></i> Está seguro/a!</h5>
                        El estudiante <strong>{{ object.nombre }}</strong> será eliminado permanentemente
                        <div class="text-center">
                            <button autofocus type="submit" class="mr-5 btn btn-danger mt-3"><i class="fas fa-trash"></i> Eliminar</button>
                            <a href="{% url 'core:ListEstudiante' %}" class="btn btn-primary mt-3"
                               style="text-decoration: none"><i class="fa fa-ban"></i> Cancelar</a>
                        </div>
                    </div>
                </form>
            </div>
            <!-- /.card-body -->
        </div>
    </div>
{% endblock %}




